/*CSS for the HOME PAGE*/
.header{
    position: fixed;
    background-color: rgb(231, 118, 118);
    padding: 2px;
    top: 2%;
    left: 0;
    right: 0;
    z-index: 1000;
}
.ccc-logo{
    margin-top: 15px;
    width: 6rem;
    margin-left: 10px;
}
.menu-toggle{
    display: none;
}
.hamburger{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    margin-top: 15px;
    z-index: 1000;
    position: fixed;
    pointer-events: auto;
    right: 20px;
}
.bar{
    height: 4px;
    width: 100%;
    transition: all 0.3s ease;
    background-color: #fff;
    border-radius: 2px;
}
.menu{
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: red;
    z-index: 1;
    padding: 50px 10px;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li{
    text-align: center;
    padding: 10px 0;
}
.menu a{
    display: flex;
    text-decoration: none;
    color: #fff;
    font-style: bold;
    font-size: 1.2rem;
    padding: 30px 30px;
    text-wrap: nowrap;
}
.menu a:hover{
    color: orange;
}
.menu-toggle:checked + .hamburger .bar:nth-child(1){
    transform: rotate(45deg) translate(5px, 9px);
}
.menu-toggle:checked + .hamburger .bar:nth-child(2){
    opacity: 0;
}
.menu-toggle:checked + .hamburger .bar:nth-child(3){
    transform: rotate(-45deg) translate(5px, -9px);
}
.nav-links{
    display: none;
    position: relative;
    height: auto;
    padding: 10px;
    width: 97%;
    margin-top: 20px;
}
.cc-logo{
    position: relative;
    transform: translate(-50%, 0);
    width: 10rem;
    left: -30%;
}
.nav-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links li{
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
}
.nav-links a{
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 18px;
}
.nav-links a:hover{
    color: orange;
}
@media (min-width:769px) {
    .hamburger{
        display: none;
    }
    .menu{
        display: none;
    }
    .nav-links{
        display: flex;
        position: absolute;
        top: 10px;
        background-color: #fff;
        justify-content: flex-end;
    }
    .header{
        display: none;
    }
}
@media (max-width:769px) {
    .menu-toggle:checked ~ .menu{
        display: flex;
    }
    .nav-links{
        display: none;
    }
    .menu-toggle{
        display: block;
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
}
#headline{
    font-size: 3rem;
    font-family: Tahoma;
    font-weight: bold;
    color: red;
    text-align: center;
    transition: 2s;
    margin-top: 20%;
}
#headline1{
    font-size: 1.5rem;
    color: blue;
    justify-content: center;
    transition: 2s;
    font-style: Tahoma;
}
#horizontal-rule{
    border-color: rgb(255, 0, 0);
}
.table-container{
    display: grid;
    grid-template-columns: 7fr 3fr;
    background: rgb(11, 11, 110);
    font-size: 1.7rem;
    padding: 20px;
}
#table-data{
    padding: 10px;
    margin-top: 5rem;
    font-weight: bold;
    margin-left: 0.5rem;
    transition: 0.5s;
}
.data-link{
    color: white;
    text-decoration: none;
}
.data-link:hover{
    color: orange;
}
#headline3{
    font-weight: bolder;
    color: blue;
    text-align: center;
    font-size: 27px;
}
#headline4{
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
    color: red;
}
.what-we-do{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: auto;
}
.pin{
    position: relative;
    width: 5rem;
    height: 5rem;
}
.content{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: rgb(11, 11, 110);
}
@media (max-width: 768px) {
    .table-container{
        grid-template-columns: 1fr;
        row-gap: 20px;
        font-size: 1.2rem;
        justify-content: center;
    }
    #table-data{
        padding: 10px;
        margin-top: 5px;
    }
    .what-we-do{
        grid-template-columns: 1fr;
    }
    .content{
        font-size: 1rem;
    }
    #headline, #headline4{
        font-size: 1.5rem;
    }
    #headline1, #headline3{
        font-size: 1.2rem;
    }
}
#table2{
    height: auto;
    width: 100%;
    border: none;
    background-color: rgb(11, 11, 110);
    margin-top: 10%;
}
.table-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#department-teaser{
    text-align: left;
    background: rgb(11, 11, 110);
    margin-left: -5rem;
}
#department-photo{
    font-weight: bold;
    font-family: Calibri;
    font-size: 17px;
    color: rgba(245, 245, 245, 0.938);
}
.overlay-text{
    position: absolute;
    transform: translate(220%, -140%);
    padding: 15px;
    background-color: #fff;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}
#teaser-headline{
    font-family: Calibri;
    font-size: 40px;
    font-weight: bold;
    color: whitesmoke;
    margin-left: 40px;
}
#teaser-text{
    font-family: Calibri;
    font-size: 25px;
    color: rgba(245, 245, 245, 0.938);
    margin-left: 40px;   
}
.department-button{
    padding: 10px 10px;
    background: rgba(255, 166, 0, 0.918);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 40px;
    margin-bottom: 40px;
}
.department-button:hover{
    background-color: #07001f;
}
.department-link{
    color: blue;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
}
.department-link:hover{
    background-color: #07001f;
    color: blue;
} 
@media (max-width:768px) {
    .table-row{
        grid-template-columns: 1fr;
    }
    #department-photo{
        height: auto;
        width: 100%;
        font-size: 15px;
}
    #department-teaser{
        height: 27rem;
        width: auto;
        text-align: left;
        background: rgb(11, 11, 110);
        margin-left: 0;
        height: 60vh;
}
    #teaser-headline{
    font-family: Calibri;
    font-size: 1.3rem;
    margin-left: 10px;
}
    #teaser-text{
    font-size: 1rem;
    margin-left: 10px;
}
.department-button{
    padding: 5px;
    border-radius: 20px;
    font-size: 0.8rem;
    margin-left: 20%;
}
    .overlay-text{
    transform: translate(50%, -110%);
    padding-top: 5px;
    font-size: 0.8rem;
}
}
.podcast-wrapper{
    position: relative;
    width: 80%;
    height: auto;
    left: 50%;
    transform: translate(-50%,-10%);
}
.podcast-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.podcast{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}
#podcast-heading{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: red;
    margin-top: 20%;
}
#podcast-content{
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    color: rgb(11, 11, 110);
    margin: 5rem;
    transition: 0.5s;
    margin-top: 5%;
    margin-bottom: 15%;
}
#playicon{
    height: 3rem;
    width: 3rem;
    padding: 5px;
}
.podcast-title{
    font-size: 18px;
    padding: 5px;
}
#listen-link{
    font-size: 18px;
    padding: 5px;
    color: orange;
    text-decoration: none;
}
#listen-link:hover{
    color: red;
}
.podcast-button{
    position: absolute;
    background: rgba(255, 166, 0, 0.918);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    width: 20%;
    height: 40px;
    left: 50%;
    transform: translate(-50%, 70%);
}
.podcast-button:hover{
    background-color: #07001f;
}
.podcast-link{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
}
.podcast-link:hover{
    background-color: #07001f;
    color: blue;
} 
@media (max-width:768px) {
    .podcast-container{
        grid-template-columns: 1fr;
        margin-bottom: 10%;
    }
    #podcast-heading{
        font-size: 1.3rem;
    }
    #podcast-content{
        font-size: 1rem;
        margin-bottom: 30%;
    }
    #playicon{
        height: 2rem;
        width: 2rem;
        padding: 2px;
    }
    .podcast-title{
        font-size: 1rem;
    }
    #listen-link{
        font-size: 1rem;
    }
    .podcast-button{
    width: 70%;
    margin-top: -22%;
    font-size: 0.8rem;
    }
}
.excerpts-table{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    margin-top: 20%;
}
.excerpts{
    text-align: center;
    width: auto;
    font-weight: bold;
}
.text-box{
    width: 23rem;
    height: 50vh;
}
#excerpts-subtitle{
    font-size: 20px;
    color:  rgba(255, 166, 0, 0.918);
    margin-left: 40px;
    animation: textShadow 2s infinite;
}
@keyframes textShadow {
    0%{
        text-shadow: 0 0 10px rgba(255, 182, 105, 1);
    }
    50%{
        text-shadow: 0 0 20px rgba(255, 165, 0, 1);
    }
    100%{
        text-shadow: 0 0 10px rgba(255, 140, 0, 1);
    }
}
#excerpts-headline{
    position: relative;
    font-weight: bold;
    color: red;
    font-size: 36px;
    margin-left: 40px;
    margin-top: 20rem;
    animation: typewriter 2s steps(40);
}
@keyframes typewriter {
    0%{
        width: 0;
    }
    100%{
        100%
    }
}
.excerpts-button{
    background: rgba(255, 166, 0, 0.918);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    width: 300px;
    height: 40px;
    margin-bottom: 300px;
    margin-left: 40px;
}
.excerpts-button:hover{
    background-color: #07001f;
}
#img-excerpt{
    display: absolute;
    height: 23rem;
    width: 23rem;
    animation: zoomIn 1s;
}
@keyframes zoomIn {
    0%{transform: scale(0.5);}
    100%{transform: scale(1);}
}
.excerpts-link{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
}
.excerpts-link:hover{
    background-color: #07001f;
    color: rgb(69, 69, 240);
}
#excerpts-date{
    color: red;
    margin-top: 50px;
}
.read-more-link{
    text-decoration: none;
    color: red;
}
.read-more{
    color: red;
    margin-bottom: 30%;
}
@media (max-width:768px) {
    .excerpts-table{
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
    .text-box{
        height: 50vh;
    }
    #excerpts-headline{
        margin-top: 0;
        font-size: 1.5rem;
    }
    #excerpts-subtitle{
        font-size: 1.1rem;
    }
    .excerpts{
    font-size: 0.8rem;
    }
    .excerpts-button{
    font-size: 0.8rem;
    }
}
.end{
    height: auto;
    width: 100%;
}
#more-info-table{
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: rgb(11, 11, 110);
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#end-headers{
    font-size: 2rem;
    position: relative;
}
#end-header{
    font-size: 2rem;
    position: relative;
}
.follow-us{
    position: relative;
    margin-top: -10px;
    transform: translate(0, -100px);
}
.social-links{
    list-style-type: none;
    grid-template-columns: repeat(5, 1fr);   
    position: relative;
    transform: translate(-20%, 10%);
}
.social-links li{
    display: inline;
    padding: 0;
}
#IG, #youtube, #whatsapp, #telegram{
    position: relative;
    height: 1rem;
    width: 1rem;
    border: 2px solid #fff;
    border-width: 0.7rem;
    background-color: #fff;
    border-radius: 30px;
}
#facebook{
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    border: 2px solid #fff;
    border-width: 0.5rem;
    background-color: #fff;
    border-radius: 30px;
}
#useful-links-table{
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
}
.contactUs{
    position: relative;
    margin-top: -10px;
}
#contact-us{
    margin-left: 30px;
    margin-top: 60px;
}
#locate-us{
    margin-left: 30px;
    margin-top: 30px;
}
#phone-number, #venue{ 
    margin-left: 30px;
    text-decoration: none;
    color: white;
}
.useful-data{
    text-decoration: none;
    color: #fff;
    line-height: 4.5em;
}
.useful-data:hover, #phone-number:hover{
color: orange;
}
#phone{
    position: absolute;
    transform: translate(-30%, -3%);
    height: 3.5rem;
    width: 3rem;
}
#location-photo{
    position: absolute;
    transform: translate(-30%, -20%);
    height: 3.5rem;
    width: 3rem;
}
@media (max-width:768px) {
    #more-info-table{
        flex-direction: column;
    }
    #end-headers{
        font-size: 1.2rem;
        margin-left: -18%;
    }
    #end-header{
        font-size: 1.2rem;
        margin-left: 3%;
        margin-top: 10%;
        margin-bottom: 0;
    }
    .follow-us{
        margin-top: 30%;
        transform: translate(10%, 40%);
        margin-bottom: -30px;
    }
    .social-links{
        transform: translate(-35%, -15%);
        margin-bottom: 0;
    }
    .useful-data{
        text-decoration: none;
        color: #fff;
        line-height: 0;
    }
    .list-item{
        margin-left: 8%;
        font-size: 1rem;
        text-wrap: nowrap;
    }
    .contactUs{
        margin-top: -10px;
        margin-left: 10px;
        transform: translate(-10%, -20%);
    }
    #contact-us{
        margin-left: -15%;
        margin-top: 10px;
        font-size: 1rem;
    }
    #phone-number{
        font-size: 1rem;
        margin-left: -5%;
    }
    #locate-us{
        margin-left: -15%;
        margin-top: 10px;
        font-size: 1rem;
    }
    #phone{
        position: absolute;
        transform: translate(-20%, 20%);
        margin-left: -20%;
        height: 2.5rem;
        width: 2.5rem;
    }
    #location-photo{
        transform: translate(-20%, -20%);
        margin-left: -20%;
        height: 3.5rem;
        width: 3rem;
    }
    #venue{
        font-size: 1rem;
        margin-left: -5%;
    }
    }
#footer{
    background-color: red;
    text-align: center;
    color: white;
    padding: 5px;
    margin-top: 0;
}
.subscription-wrapper{
    width: 65vw;
    height: 15vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 11, 110);
    border-radius: 70px;
    margin-left: 200px;
    margin-bottom: -5px;
}
.wrapper-text{
    margin-left: -5%;
    font-weight: bold;
    color: white;
    font-size: 1.3em;
}
#subscribe-button{
    position: absolute;
    width: 140px;
    height: 44px;
    background-color: red;
    border-radius: 75px;
    cursor: pointer;
    right: 20%;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
}
#subscribe-button:hover{
    background-color: blue;
}
#emailInput{
    position: relative;
    width: 25rem;
    height: 40px;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    margin-left: 5%;
    padding: 0 11px;
    overflow: hidden;
}
@media (max-width:767px) {
    .subscription-wrapper{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 75vw;
        height: 20vh;
        padding: 20px;
        margin-left: 7px;
        margin-bottom: 0;
        margin-right: 0;
        border-radius: 50px;
        background-color: rgb(32, 32, 131);
        transform: translate(4%, 50%);
        z-index: 1;
    }
    .wrapper-text{
        margin: 0;
        font-size: 1.2em;
        margin-bottom: 5%;
    }
    .subscribe{
        margin-bottom: 15px;
    }
    #emailInput{
        width: 18rem;
        height: 2rem;
        border-radius: 20px;
        margin-left: 0;
    }
    #subscribe-button{
        position: relative;
        width: 19rem;
        height: 2.5rem;
        border-radius: 20px;
        right: 0;
        top: 10px;
}
    #footer{
    font-size: 0.8rem;
    margin-left: 0.5%;
    width: 96.5%;
    height: auto;
    }
}


/*CSS for the about page*/
.slideshow-container{
    position: relative;
}
.mySlides{
    display: none;
}
.mySlides img{
    width: 100%;
    height: 600px;
}
.fade{
    animation: fade 2s;
}
@keyframes fade {
    form{opacity: 0.4;}
    to {opacity: 1;}
}

.about-text-overlay{
    position: absolute;
    bottom: 15%;
    left: 25%;
    transform: translate(-50%, 0);
    text-align: center;
    color: #fff;
}
.about-text-overlay h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.about-text-overlay p{
    font-size: 18px;
}
.tab-homepage, .tab-about{
    color: #fff;
    text-decoration: none;
}
.tab-homepage:hover, .tab-about:hover{
    color: orange;
}
.tab-link.active{
    color: orange;
}
@media (max-width: 768px){
    .about-text-overlay{
        bottom: 5%;
        left: 33%;
        transform: translate(-50%, 0);
    }
    .about-text-overlay h2{
        font-size: 2em;
    }
    .about-text-overlay p{
        font-size: 1.5em;
    }
}
#about-headline{
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    color: red;
    padding: 10px;
    margin-top: 5%;
}
#headline-text{
    font-size: 1.5rem;
    text-align: center;
    color: rgb(11, 11, 110);
    margin-top: 0;
    margin-bottom: 5%;
}
.beTransformed{
    position: relative;
    background: rgba(255, 166, 0, 0.918);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    width: 20vw;
    height: 7vh;
    left: 50%;
    transform: translate(-50%, -30%);
    margin-bottom: 10%;
}
.beTransformed:hover{
    background-color: #07001f;
}
@media (max-width:769px) {
    #about-headline{
        font-weight: bold;
        font-size: 36px;
        margin-top: 40%;
    }
    .beTransformed{
        width: 80vw;
        height: 6vh;
        transform: translate(-50%, -40%);
    }
}
.mission-container{
    grid-template-columns: repeat(3, 400px);
    padding: 10px;
    display: grid;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20%;
}
.mission-item{
    padding: 20px;
    text-align: center;
    background-color: red;
    font-size: 22px;
    box-shadow: 5px 5px 30px rgba(207, 27, 27, 1);
    border-radius: 15px;
}
.vision-item{
    padding: 20px;
    text-align: center;
    background-color: orange;
    font-size: 22px;
    box-shadow: 5px 5px 30px rgb(207, 108, 27);
    border-radius: 15px;
}
.value-item{
    padding: 20px;
    text-align: center;
    background-color: blue;
    font-size: 22px;
    box-shadow: 5px 5px 30px rgb(27, 105, 207);
    border-radius: 15px;
}
.worship-with-us-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: chocolate;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;
    margin-top: 10%;
}
#wwu-headline{
    font-size: 34px;
    color: #fff;
    font-weight: bold;
    margin-left: 70px;
}
.wwu-button{
    padding: 10px 40px;
    background: rgba(255, 166, 0, 0.918);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 60px;
    margin-top: -100px;
}
.wwu-button:hover{
    background-color: #07001f;
}
.wwu-link{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}
.wwu-text{
    font-size: 1.4rem;
    color: #fff;
    margin-left: 70px;
}
.wwu-image{
    position: relative;
    transform: translate(30%, -26%);
    pointer-events: none;
    margin-top: 20%;
    margin-bottom: -50%;
    height: 100vh;
}
.wwu-photo{
    height: 80vh;
    width: 40%;
    border: 5px solid chocolate;
}
@media (max-width:768px) {
    .mission-container{
        grid-template-columns: 1fr;
        font-size: larger;
        }
    #headline-text{
            font-size: 1.3rem;
    }
    .worship-with-us-container{
        grid-template-columns: 1fr;
        margin-top: 30%;
    }
    #wwu-headline{
        font-size: 2em;
        text-align: center;
        margin: 0;
        padding: 10px;
    }
    .wwu-text{
        font-size: 1.5rem;
        color: #fff;
        margin-left: 0;
    }
    .wwu-photo{
        height: 35vh;
        width: 50vw;
        border: none;
        border-radius: 5px;
    }
    .wwu-image{
        transform: translate(25%, -90%);
        margin-top: 0;
        margin-bottom: 5px;
        height: auto;
    }
    .wwu-button{
        margin-top: 30vh;
        transform: translate(0%, 300%);
        margin-bottom: 0%;
        width: 70vw;
    }
} 


/* CSS For Partnership*/
#metamorphoo-logo{
    display: relative;
    height: auto;
    width: 100%;
}
#homepage-link{
    color: orange;
    text-decoration: none;
    font-size: 1.4rem;
    margin-left: 30px;
    margin-right: 10px;
    font-weight: bold;
}
#partnership-link{
    color: orange;
    text-decoration: none;
    font-size: 1.4rem;
    margin-left: 10px;
    font-weight: bold;
}
.shortcut.active{
    color: red;
}
#homepage-link:hover, #partnership-link:hover{
    color: red;
}
#blessings{
    text-align: center;
    color: red;
    animation: fadeInText 2s;
    margin-top: 20%;
}
@keyframes fadeInText {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.partner-container{
    max-width: 800px;
    margin: 40px auto;
    padding: 35px;
    border-radius: 10px;
    background-color: red;
    box-shadow: 50px #fff;
    transform: translateY(100%);
    animation: slideInFromBottom 0.5s 1s forwards;
}
@keyframes slideInFromBottom {
    100%{
        transform: translateY(0);
    }
}
#preffered-method{
    font-size: 1.7rem;
    color: #fff;
}
.payment-methods{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.payment-method{
    margin: 10px;
    padding: 15px;
    border: 1px solid orange;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    box-shadow: 75px;
    display: flex;
    background-color: orange;
}
#mobilemoney-image{
    display: absolute;
    height: 5rem;
    width: 8rem;
}
#bank-image{
    display: absolute;
    height: 5rem;
    width: 8rem;
}
#mastercard-image{
    display: absolute;
    height: 5rem;
    width: 8rem;
}
#payment-text{
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    padding: 30px;
}
.confirmation{
    display: none;
    margin-top: 20px;
    padding: 20px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    text-align: center;
}
@media (max-width: 600px){
    .payment-method{
        margin: 10px 0;
    }
    .partner{
        width: 100%;
    }
}


/* CSS for the momo partnership*/
.momo-container{
    width: auto;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 10 10 100px #f0f0f0;
    background-color: #fff;
    font-size: 18px;
    box-shadow: 5px 5px 25px  red;
    transform: scale(0.5);
    animation: scaleUp 0.5s forwards;
}
@keyframes scaleUp {
    100%{
        transform: scale(1);
    }
}
#paymentMomo{
    text-align: center;
    color: red;
    font-size: 2rem;
    font-weight: bold;
}
.momo-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.momo-item{
    display: absolute;
    padding: 0;
    height: 4rem;
    width: 7rem;
    border: 2px solid orange;
    border-radius: 10px;
    background-color: rgb(239, 238, 250);
    transition: all 0.5s;
    box-shadow: 5px 5px 5px orange;
}
label{
    cursor: pointer;
}
input[type="checkbox"],
input[type="text"] {
    margin-right: 10px;
}
#momo-image{
    height: 3rem;
    width: 7rem;
    margin-top: -15px;
    margin-left: 9px;
}
#voda-image{
    height: 3rem;
    width: 5rem;
    margin-top: -15px;
    margin-left: 23px;
}
#at-image{
    height: 3rem;
    width: 5rem;
    margin-top: -15px;
    margin-left: 23px;
}
.form-group{
    margin-top: 20px;
}
#phoneNumber{
    width: 100%;
    height: 30px;
    border: 1px solid red;
    background-color: rgb(231, 219, 149);
}
.PartnerNow{
    display: absolute;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.PartnerNow:hover{
    background-color: orange;



/*CSS for the JOIN US FORM*/
.ss{
}
.wwu-heading{
    position: absolute;
    bottom: 15%;
    left: 25%;
    transform: translate(30%, -80%);
    color: #fff;
    font-size: 50px;
}
@media (max-width: 600px){
    .wwu-heading{
        font-size: 18px;
        bottom: 68%;
    }
}
#to-home{
    color: orange;
    text-decoration: none;
    font-size: 1.4rem;
    margin-left: 30px;
    margin-right: 10px;
    font-weight: bold;
}
#in-wwu{
    color: orange;
    text-decoration: none;
    font-size: 1.4rem;
    margin-left: 10px;
    font-weight: bold;
}
#to-home:hover, #in-wwu:hover{
    color: red;
}
.container{
    background: #fff;
    width: auto;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px red;
    max-width: 600px;
    transform: scale(0.5);
    opacity: 0;
    animation: materialFadeIn 0.5s forwards;
}
@keyframes materialFadeIn {
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
form{
    margin:0 2rem;
}
.form-spotLight{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: o.4rem;
    color: red;
}
input{
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 1.5rem;
    font-size: 15px;
}
.input-group{
    padding: 1% 0;
    position: relative;
}
.input:focus{
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid red;
}
input::placeholder{
    color: transparent;
}
label{
    color: #757575;
    position: relative;
    left: 1.2rem;
    top: -1.3em;
    cursor: auto;
    transition: 0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
    top: -2.5em;
    color: orange;
    font-size: 15px;
}
.btn{
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: red;
    color: white;
    cursor: pointer;
    transition: 0.9s;
}
.btn:hover{
    background: orange;
}
.subtitle{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: red;
    font-family: calibri;
}