/*CSS for the JOIN US FORM*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
.form{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}
.container{
    background: #fff;
    width: 450px;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgb(136, 40, 40);
}
form{
    margin:0 2rem;
}
.form-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: o.4rem;
}
input{
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 1.5rem;
    font-size: 15px;
}
.input-group{
    padding: 1% 0;
    position: relative;
}
.input:focus{
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid hsl(327, 90%, 28%);
}
input::placeholder{
    color: transparent;
}
label{
    color: #757575;
    position: relative;
    left: 1.2rem;
    top: -1.3em;
    cursor: auto;
    transition: 0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
    top: -2.5em;
    color: rgb(197, 151, 52);
    font-size: 15px;
}
.btn{
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: rgb(235, 125, 125);
    color: white;
    cursor: pointer;
    transition: 0.9s;
}
.btn:hover{
    background: #07001f;
}
.subtitle{
    text-align: center;
    font-size: 1.0rem;
    font-weight: bold;
    color: rgb(235, 125, 125);
    font-family: Arial, Helvetica, sans-serif;
}

/*CSS for the HOME PAGE*/


.homecontainer{
    display: flex;
    position: absolute;
    top: 5px;
    right: 40px;
    border-bottom: 0px;
    margin: 20px;
}
.tab{
    padding: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: none;
    background: #f1f1f1;
    font-weight: bold;
}
.tab-link{
    text-decoration: none;
}
.tab-link:hover{
    background-color:none;
    color: #9daaf2;
} 
.joinus-button{
    color: blue;
    text-decoration: none;
    font-weight: bold;
    padding: 1px 1px;
    transition: background-color 0.3s;
    border-radius: 15px;
    border-color: rgb(77, 77, 199);
}
.joinus-button:hover{
    background-color: #f1f1f1;
    color: blue;
} 
.joinus-link{
    color: blue;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 15px;
}
.joinus-link:hover{
    background-color:none;
    color: #9daaf2;
} 
#headline{
    font-size: 30px;
    font-family: Tahoma;
    font-weight: bold;
    color: red;
    text-align: center;
}

#headline1{
    font-size: 25px;
    color: blue;
    margin-left: 30px;
}

#horizontal-rule{
    border-color: rgb(0, 174, 255);
}
.table-container{
    border: none;
    padding: 15px;
    margin-top: 5px;
    margin-left: 0px;
}
#first-table{
    width: 100%;
    border:none;
    background: rgb(11, 11, 110);
}
td{
    border: none;
    flex-direction: column;
}
#links-data{
    height: 450px;
    width: 580px;
    font-weight: bold;
    font-size: 25px;
    background: rgb(11, 11, 110);
}
.data-link{
    color: white;
    text-decoration: none;
}
.data-link:hover{
    color: orange;
}
#headline3{
    font-weight: bolder;
    color: blue;
    text-align: center;
    font-size: 27px;
}
#headline4{
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
    color: red;
}
.what-we-do{
    display: flex;

}
.pin{
    position: relative;
    width: 50px;
    height: 50px;
    background: none;
}
.content{
    flex: 1;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: rgb(11, 11, 110);
}
#table2{
    height: 500px;
    width: fill;
    border: none;
}
#department-teaser{
    text-align: left;
    background: rgb(11, 11, 110);
}
#department-photo{
    font-weight: bold;
    font-family: Calibri;
    font-size: 17px;
    color: rgba(245, 245, 245, 0.938);
}
.overlay-text{
    position: absolute;
    transform: translate(220%, -140%);
    padding: 15px;
    background-color: #fff;
    border-radius: 20px;
    font-weight: bold;
}
#teaser-headline{
    font-family: Calibri;
    font-size: 40px;
    font-weight: bold;
    color: whitesmoke;
    margin-left: 40px;
}
#teaser-text{
    font-family: Calibri;
    font-size: 25px;
    color: rgba(245, 245, 245, 0.938);
    margin-left: 40px;   
}
.department-button{
    padding: 10px 20px;
    background: rgba(255, 166, 0, 0.918);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 40px;
}
.department-button:hover{
    background-color: #07001f;
}
.department-link{
    color: blue;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
}
.department-link:hover{
    background-color: #07001f;
    color: blue;
} 
.podcast-container-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.podcast-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.column{
    flex: 0 0 31%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#podcast-heading{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: red;
}
#podcast-content{
    text-align: center;
    margin-right: 120px;
    margin-left: 120px;
    font-size: 20px;
    color: rgb(11, 11, 110);
    justify-content: center;
}
.podcast-button{
    background: rgba(255, 166, 0, 0.918);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    width: 300px;
    height: 40px;
    margin-left: 500px;
}
.podcast-button:hover{
    background-color: #07001f;
}
.podcast-link{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
}
.podcast-link:hover{
    background-color: #07001f;
    color: blue;
} 
.excerpts-table{
    width: 100%;
    border-collapse: none;
}
.excerpts{
    border: 1px solid #ccc;
    padding: 10px;
    height: 400px;
    width: 400px;
}
.text-box{
    height: 650px;
    width: 450px;
}
#excerpts-subtitle{
    font-size: 20px;
    color:  rgba(255, 166, 0, 0.918);
    margin-left: 40px;
}
#excerpts-headline{
    font-weight: bold;
    color: red;
    font-size: 36px;
    margin-left: 40px;
}
.excerpts-button{
    background: rgba(255, 166, 0, 0.918);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    width: 300px;
    height: 40px;
    margin-bottom: 300px;
    margin-left: 40px;
}
.excerpts-button:hover{
    background-color: #07001f;
}
.excerpts-link{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
}
.excerpts-link:hover{
    background-color: #07001f;
    color: rgb(69, 69, 240);
}
.excerpts1{
    text-align: center;
    font-weight: bold;
}
#excerpts-date{
    color: red;
}
.read-more-link{
    text-decoration: none;
    color: red;
}
.read-more{
    color: red;
}
.end{
    background-color: rgb(11, 11, 110);
    color: #fff;
    font-weight: bold;
    font-weight: 600px;
    height: 400px;
    width: 100%;
}
#end-headers{
    font-size: 25px;
}
.useful-data{
    text-decoration: none;
}
#footer{
    background-color: red;
    text-align: center;
    color: white;
}
#useful-links-table{
    padding: 30px;
    border-spacing: 20px;
}
#wrapper-id{
    margin-left: 200px;
    margin-bottom: -5px;
}
.subscription-wrapper{
    width: 900px;
    height: 120px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 11, 110);
    border-radius: 70px;
}
.wrapper-text{
    margin-right: 40px;
    font-weight: bold;
    color: white;
}
.subscription-container{
    position: relative;
    width: 550px;
    height: 40px;
    background-color: #ddd;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#subscribe-button{
    position: absolute;
    width: 140px;
    height: 44px;
    background-color: red;
    border-radius: 75px;
    cursor: pointer;
    right: 0;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
}
#subscribe-button:hover{
    background-color: blue;
}
.subscribe{
    width: 350px;
}
#emailInput{
    width: 350px;
    margin-left: -160px;
    padding: 5px;
    border: none;
    outline: none;
}
.subscribe-placeholder{
    position: absolute;
    top: 30%;
    transform: translateY(-10%);
    color: #aaa;
    transition: 0.3s ease;
}
#emailInput:focus + .subscribe-placeholder,
#emailInput:not(:subscribe-placeholder-shown) + .subscribe-placeholder
{top: -10px; font-size: 12px;}


/*CSS for the about page*/
.slideshow-container{
    position: relative;
}
.mySlides{
    display: none;
}
.mySlides img{
    width: 100%;
    height: 600px;
}
.fade{
    animation: fade 1.5s;
}
@keyframes fade {
    form{opacity: 0.4;}
    to {opacity: 1;}
}

.about-text-overlay{
    position: absolute;
    bottom: 15%;
    left: 25%;
    transform: translate(-50%, 0);
    text-align: center;
    color: #fff;
}
.about-text-overlay h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.about-text-overlay p{
    font-size: 18px;
}
.homepage-link, .about-link{
    color: #fff;
    text-decoration: none;
}
.homepage-link:hover, .about-link:hover{
    color: orange;
}
@media (max-width: 600px){
    .about-text-overlay h2{
        font-size: 28px;
    }
    .about-text-overlay p{
        font-size: 16px;
    }
}
#about-headline{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}
#headline-text{
    font-size: 20px;
    text-align: center;
}
.mission-container{
    grid-template-columns: repeat(2, 570px);
    grid-template-rows: repeat(3, 570px);
    padding: 10px;
    display: grid;
    justify-content: center;
}
.mission-item{
    padding: 20px;
    text-align: center;
    background-color: red;
    font-size: 22px;
    box-shadow: 5px 5px 30px rgba(207, 27, 27, 1);
    border-radius: 15px;
}
.vision-item{
    padding: 20px;
    text-align: center;
    background-color: orange;
    font-size: 22px;
    box-shadow: 5px 5px 30px rgb(207, 108, 27);
    border-radius: 15px;
}
.value-item{
    padding: 20px;
    text-align: center;
    background-color: blue;
    font-size: 22px;
    box-shadow: 5px 5px 30px rgb(27, 105, 207);
    border-radius: 15px;
}
.worship-with-us-container{
    background-color: chocolate;
    justify-content: center;
    width: 100%;
    height: 400px;
    padding: 40px;
}
#wwu-headline{
    font-size: 34px;
    color: #fff;
    font-weight: bold;
    margin-left: 70px;
}
.wwu-button{
    padding: 10px 40px;
    background: rgba(255, 166, 0, 0.918);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 60px;
    margin-top: -100px;
}
.wwu-button:hover{
    background-color: #07001f;
}
.wwu-link{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}
.wwu-text{
    font-size: 20px;
    color: #fff;
    margin-left: 70px;
}
.wwu-photo{
    height: 455px;
    width: 300px;
    position: absolute;
    transform: translate(285%, -79%);
    padding: 5px;
    background-color: chocolate;
}
@media (max-width:600px) {
    .mission-container{
        grid-template-columns: 1fr;
    }
} 