
/*CSS for the HOME PAGE*/
.homecontainer{
    display: flex;
    position: absolute;
    top: 0px;
    right: 0;
    margin: 1rem;
    max-width: 800px;
    width: auto;
    height: auto;
    font-size: 1em;
}
.tab{
    padding: 10px;
    cursor: pointer;
    border-bottom: none;
    font-weight: bold;
}
.tab-link{
    text-decoration: none;
    color: blue;
}
.tab-link:hover{
    background-color: none;
    color: orange;
} 
.joinus-button{
    color: blue;
    text-decoration: none;
    font-weight: bold;
    padding: 1px 1px;
    transition: background-color 0.3s;
    border-radius: 10px;
    border-color: blue;
    height: 2rem;
}
.joinus-link{
    color: blue;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 15px;
}
.joinus-link:hover{
    background-color:none;
    color: orange;
} 
@media (max-width: 600px) {
    .homecontainer{
        font-size: 0.8em;
    }
}
#headline{
    font-size: 30px;
    font-family: Tahoma;
    font-weight: bold;
    color: red;
    text-align: center;
}

#headline1{
    font-size: 25px;
    color: blue;
    margin-left: 30px;
}

#horizontal-rule{
    border-color: rgb(0, 174, 255);
}
.table-container{
    border: none;
    padding: 15px;
    margin-top: 5px;
    margin-left: 0px;
    background-color: rgb(11, 11, 110);
}
#first-table{
    width: 100%;
    border:none;
    background: rgb(11, 11, 110);
}
td{
    border: none;
    flex-direction: column;
}
#links-data{
    height: 450px;
    width: 580px;
    font-weight: bold;
    font-size: 25px;
    background: rgb(11, 11, 110);
}
.data-link{
    color: white;
    text-decoration: none;
}
.data-link:hover{
    color: orange;
}
#headline3{
    font-weight: bolder;
    color: blue;
    text-align: center;
    font-size: 27px;
}
#headline4{
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
    color: red;
}
.what-we-do{
    display: flex;

}
.pin{
    position: relative;
    width: 5rem;
    height: 5rem;
}
.content{
    flex: 1;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: rgb(11, 11, 110);
}
#table2{
    height: 500px;
    width: fill;
    border: none;
    background-color: rgb(11, 11, 110);
}
#department-teaser{
    text-align: left;
    background: rgb(11, 11, 110);
}
#department-photo{
    font-weight: bold;
    font-family: Calibri;
    font-size: 17px;
    color: rgba(245, 245, 245, 0.938);
}
.overlay-text{
    position: absolute;
    transform: translate(220%, -140%);
    padding: 15px;
    background-color: #fff;
    border-radius: 20px;
    font-weight: bold;
}
#teaser-headline{
    font-family: Calibri;
    font-size: 40px;
    font-weight: bold;
    color: whitesmoke;
    margin-left: 40px;
}
#teaser-text{
    font-family: Calibri;
    font-size: 25px;
    color: rgba(245, 245, 245, 0.938);
    margin-left: 40px;   
}
.department-button{
    padding: 10px 10px;
    background: rgba(255, 166, 0, 0.918);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 40px;
    margin-bottom: 50px;
}
.department-button:hover{
    background-color: #07001f;
}
.department-link{
    color: blue;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
}
.department-link:hover{
    background-color: #07001f;
    color: blue;
} 
.podcast-container-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.podcast-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.column{
    flex: 0 0 31%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#podcast-heading{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: red;
}
#podcast-content{
    text-align: center;
    margin-right: 120px;
    margin-left: 120px;
    font-size: 20px;
    color: rgb(11, 11, 110);
    justify-content: center;
}
#playicon{
    height: 3rem;
    width: 3rem;
}
.podcast-button{
    background: rgba(255, 166, 0, 0.918);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    width: 300px;
    height: 40px;
    margin-left: 500px;
}
.podcast-button:hover{
    background-color: #07001f;
}
.podcast-link{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
}
.podcast-link:hover{
    background-color: #07001f;
    color: blue;
} 
.excerpts-table{
    width: 100%;
    border-collapse: none;
}
.excerpts{
    padding: 10px;
    height: 400px;
    width: auto;
}
.text-box{
    height: 650px;
    width: 450px;
}
#excerpts-subtitle{
    font-size: 20px;
    color:  rgba(255, 166, 0, 0.918);
    margin-left: 40px;
}
#excerpts-headline{
    font-weight: bold;
    color: red;
    font-size: 36px;
    margin-left: 40px;
}
.excerpts-button{
    background: rgba(255, 166, 0, 0.918);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    width: 300px;
    height: 40px;
    margin-bottom: 300px;
    margin-left: 40px;
}
.excerpts-button:hover{
    background-color: #07001f;
}
#img-excerpt{
    display: absolute;
    height: 25rem;
    width: 25rem;
}
.excerpts-link{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
}
.excerpts-link:hover{
    background-color: #07001f;
    color: rgb(69, 69, 240);
}
.excerpt-details{
    text-align: center;
    font-weight: bold;
}
#excerpts-date{
    color: red;
}
.read-more-link{
    text-decoration: none;
    color: red;
}
.read-more{
    color: red;
}
.end{
    background-color: rgb(11, 11, 110);
    color: #fff;
    font-weight: bold;
    font-weight: 600px;
    height: 400px;
    width: 100%;
}
#end-headers{
    font-size: 25px;
}
.social-links{
    list-style-type: none;
    padding: 0;
}
.social-links li{
    display: inline;
    margin-right: 15px;
}
#facebook-logo{
    position: relative;
    height: 3rem;
    width: 3rem;
}
#contact-us, #locate-us{
    margin-left: 30px;
}
#phone-number{
    margin-left: 30px;
    text-decoration: none;
    color: white;
}
.useful-data{
    text-decoration: none;
    color: #fff;
}
.useful-data:hover, #phone-number:hover{
color: orange;
}
#phone{
    position: absolute;
    transform: translate(-30%, -15%);
    height: 3.5rem;
    width: 3rem;
}
#location-photo{
    position: absolute;
    transform: translate(-100%, -35%);
    height: 3.5rem;
    width: 3rem;
}
#footer{
    background-color: red;
    text-align: center;
    color: white;
    padding: 10px;
}
#useful-links-table{
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 50px;
}
#wrapper-id{
    margin-left: 200px;
    margin-bottom: -5px;
}
.subscription-wrapper{
    width: 900px;
    height: 120px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 11, 110);
    border-radius: 70px;
}
.wrapper-text{
    margin-right: 40px;
    font-weight: bold;
    color: white;
}
.subscription-container{
    position: relative;
    width: 550px;
    height: 40px;
    background-color: #ddd;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#subscribe-button{
    position: absolute;
    width: 140px;
    height: 44px;
    background-color: red;
    border-radius: 75px;
    cursor: pointer;
    right: 0;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
}
#subscribe-button:hover{
    background-color: blue;
}
.subscribe{
    width: 350px;
}
#emailInput{
    width: 350px;
    margin-left: -160px;
    padding: 5px;
    border: none;
    outline: none;
}
.subscribe-placeholder{
    position: absolute;
    top: 30%;
    transform: translateY(-10%);
    color: #aaa;
    transition: 0.3s ease;
}
#emailInput:focus + .subscribe-placeholder,
#emailInput:not(:subscribe-placeholder-shown) + .subscribe-placeholder
{top: -10px; font-size: 12px;}


/*CSS for the about page*/
.slideshow-container{
    position: relative;
}
.mySlides{
    display: none;
}
.mySlides img{
    width: 100%;
    height: 600px;
}
.fade{
    animation: fade 1.5s;
}
@keyframes fade {
    form{opacity: 0.4;}
    to {opacity: 1;}
}

.about-text-overlay{
    position: absolute;
    bottom: 15%;
    left: 25%;
    transform: translate(-50%, 0);
    text-align: center;
    color: #fff;
}
.about-text-overlay h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.about-text-overlay p{
    font-size: 18px;
}
.homepage-link, .about-link{
    color: #fff;
    text-decoration: none;
}
.homepage-link:hover, .about-link:hover{
    color: orange;
}
@media (max-width: 600px){
    .about-text-overlay h2{
        font-size: 28px;
    }
    .about-text-overlay p{
        font-size: 16px;
    }
}
#about-headline{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: red;
}
#headline-text{
    font-size: 1.5rem;
    text-align: center;
    color: rgb(11, 11, 110);
}
.mission-container{
    grid-template-columns: repeat(3, 400px);
    padding: 10px;
    display: grid;
    justify-content: center;
    gap: 20px;
}
.mission-item{
    padding: 20px;
    text-align: center;
    background-color: red;
    font-size: 22px;
    box-shadow: 5px 5px 30px rgba(207, 27, 27, 1);
    border-radius: 15px;
}
.vision-item{
    padding: 20px;
    text-align: center;
    background-color: orange;
    font-size: 22px;
    box-shadow: 5px 5px 30px rgb(207, 108, 27);
    border-radius: 15px;
}
.value-item{
    padding: 20px;
    text-align: center;
    background-color: blue;
    font-size: 22px;
    box-shadow: 5px 5px 30px rgb(27, 105, 207);
    border-radius: 15px;
}
.worship-with-us-container{
    background-color: chocolate;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;
}
#wwu-headline{
    font-size: 34px;
    color: #fff;
    font-weight: bold;
    margin-left: 70px;
}
.wwu-button{
    padding: 10px 40px;
    background: rgba(255, 166, 0, 0.918);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 60px;
    margin-top: -100px;
}
.wwu-button:hover{
    background-color: #07001f;
}
.wwu-link{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}
.wwu-text{
    font-size: 1.4rem;
    color: #fff;
    margin-left: 70px;
}
.wwu-photo{
    height: 110%;
    width: 20%;
    position: absolute;
    padding: 5px;
    background-color: chocolate;
    pointer-events: none;
    top: 50px;
    right: 240px;
    transform: translate(40%, -20%);
}
@media (max-width:600px) {
    .mission-container{
        grid-template-columns: 1fr;
        font-size: larger;
        }
        #headline-text{
            font-size: 1.3rem;
    }
} 

/* CSS For Partnership*/
#metamorphoo-logo{
    display: relative;
    height: auto;
    width: 100%;
}
#homepage-link{
    color: orange;
    text-decoration: none;
    font-size: 1.4rem;
    margin-left: 30px;
    margin-right: 10px;
    font-weight: bold;
}
#partnership-link{
    color: orange;
    text-decoration: none;
    font-size: 1.4rem;
    margin-left: 10px;
    font-weight: bold;
}
#homepage-link:hover, #partnership-link:hover{
    color: red;
}
#blessings{
    text-align: center;
    color: red;
}
.partner-container{
    max-width: 800px;
    margin: 40px auto;
    padding: 35px;
    border-radius: 10px;
    background-color: red;
    box-shadow: 50px #fff;
}
#preffered-method{
    font-size: 1.7rem;
    color: #fff;
}
.payment-methods{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.payment-method{
    margin: 10px;
    padding: 15px;
    border: 1px solid orange;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    box-shadow: 75px;
    display: flex;
    background-color: orange;
}
#mobilemoney-image{
    display: absolute;
    height: 5rem;
    width: 8rem;
}
#bank-image{
    display: absolute;
    height: 5rem;
    width: 8rem;
}
#mastercard-image{
    display: absolute;
    height: 5rem;
    width: 8rem;
}
#payment-text{
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    padding: 30px;
}
.confirmation{
    display: none;
    margin-top: 20px;
    padding: 20px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    text-align: center;
}
@media (max-width: 600px){
    .payment-method{
        margin: 10px 0;
    }
    .partner{
        width: 100%;
    }
}
.momo-container{
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 10 10 100px #f0f0f0;
    background-color: #fff;
}
h1{
    text-align: center;
    color: orange;
}
#preffered-mode{
    font-size: 1.5rem;
    color: orange;
}
.payment-modes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}
.payment-mode{
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 100%;
    box-shadow: 35px;
}
.MobileMoney-Partnership{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 600px){
    .payment-method{
        margin: 10px 0;
    }
    .partner{
        width: 100%;
    }
}
/*CSS for the JOIN US FORM*/
.wwu-heading{
    position: absolute;
    bottom: 15%;
    left: 25%;
    transform: translate(30%, -80%);
    color: #fff;
    font-size: 50px;
}
@media (max-width: 600px){
    .wwu-heading{
        font-size: 18px;
        bottom: 68%;
    }
}
#to-home{
    color: orange;
    text-decoration: none;
    font-size: 1.4rem;
    margin-left: 30px;
    margin-right: 10px;
    font-weight: bold;
}
#in-wwu{
    color: orange;
    text-decoration: none;
    font-size: 1.4rem;
    margin-left: 10px;
    font-weight: bold;
}
#to-home:hover, #in-wwu:hover{
    color: red;
}
.container{
    background: #fff;
    width: auto;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px red;
    max-width: 600px;
}
form{
    margin:0 2rem;
}
.form-spotLight{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: o.4rem;
    color: red;
}
input{
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 1.5rem;
    font-size: 15px;
}
.input-group{
    padding: 1% 0;
    position: relative;
}
.input:focus{
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid red;
}
input::placeholder{
    color: transparent;
}
label{
    color: #757575;
    position: relative;
    left: 1.2rem;
    top: -1.3em;
    cursor: auto;
    transition: 0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
    top: -2.5em;
    color: orange;
    font-size: 15px;
}
.btn{
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: red;
    color: white;
    cursor: pointer;
    transition: 0.9s;
}
.btn:hover{
    background: orange;
}
.subtitle{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: red;
    font-family: calibri;
}
